{% extends "base.html" %}

{% block title %}{{ PROJECT_NAME }} | Forgot Password{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="well">
                                <h4 class="header blue lighter bigger">
                                    <i class="icon-key"></i>
                                    Retrieve Password
                                </h4>

                                <div class="space-6"></div>

                                {{ status_div|safe|escape }}

                                <p>
                                    Enter the email associated with your account. We'll reset your password and send the temporary password to your email address.
                                </p>

                                <form action="/forgot" method="post">{% csrf_token %}
                                    <fieldset>
                                        <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="email" class="form-control" name="email" id="email"
                                                   placeholder="Email"
                                                   required/>
                                            <i class="icon-envelope"></i>
                                        </span>
                                        </label>

                                        <div class="space"></div>
                                    </fieldset>

                                    <div class="clearfix">
                                        <button type="submit"
                                                class="width-35 pull-right btn btn-sm btn-primary">
                                            Get It
                                            <i class="icon-unlock-alt icon-on-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <script type="text/javascript">
        $("#email").focus();
    </script>
{% endblock %}